<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="TODO">
    <meta name="author" content="TODO">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>title</title>
</head>
<body>
    <header id="masthead">Header</header>
    <div id="mainwrapper">
      <main>
        <section id="left" class="side toc">
        {{ toc }}
        </section>
        <section id="middle">
            <article>
                <header id="article-header">Article header</header>
                {{ article }}
            </article>
        </section>
        <section id="right" class="side"></section>
      </main>       
    </div>
    <footer><p>&copy; Copyright 2015 John Doe</p></footer>
</body>
</html>
