<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="TODO">
    <meta name="author" content="TODO">
    <link rel="stylesheet" type="text/css" href="{{ url_for('main.css') }}">
    {% block title %}
    <title>title</title>
    {% endblock %}
  </head>
  <body>
    <header id="masthead">{{ header_title }}</header>
    <div id="mainwrapper">
      <main>
        {% block left %}
        <section id="left" class="side toc">
        {{ toc }}
        </section>
        {% endblock %}
        <section id="middle">
            {% block content %}
            {% endblock %}
        </section>
      </main>       
    </div>
    <footer><p>&copy; Copyright 2015 {{ author }}</p></footer>
    {% block afterfooter %}
    {% endblock %}
  </body>
</html>
