{% extends "base.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block left %}
{# Catergory here
<section id="left" class="side toc">
</section>
#}
<section id="left" class="index">
  <div class="select-title">Category</div>
  <select class="dropdown-select">
    {% for cate in categories %}
    <option value="{{ cate.link }}">{{ cate.name }}({{ cate.count }})</option>
    {% endfor %}
  </select>
  <div class="select-title">Tag</div>
  <select class="dropdown-select">
    {% for tag in tags %}
    <option value="{{ tag.link }}">{{ tag.name }}({{ tag.count }})</option>
    {% endfor %}
  </select>
</section>

{% endblock %}

{% block content %}
<section id="middle" class="index">
{% for note in notes %}
<div class="note-header">
  <h2><a href="{{ note.link }}">{{ note.title }}</a></h2>
  {% if note.tags %}
  {#
  <ul class="tags">
  {% for tag in  note.tags %}
    <li>
      <a href="{{ tag.link }}">{{ tag.name }}</a>
    </li>
  {% endfor %}
  </ul>
  #}
  <div class="tag-bar">
  {% for tag in  note.tags %}
    <a href="{{ tag.link }}">{{ tag.name }}</a>
  {% endfor %}
  </div>
  {% endif %}
</div>
{% endfor %}
{% if pagination %}
<div id="page-nav">
  {{ pagination }}
</div>
{% endif %}
</section>
{% endblock %}
