{% extends "base.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block left %}
{# Catergory here
<section id="left" class="side toc">
</section>
#}
<section id="left" class="side">
  <select id="tagSelect">
    {% for tag in tags %}
    <option value="{{ tag.link }}">{{ tag.name }}({{ tag.count }})</option>
    {% endfor %}
  </select>
</section>

{% endblock %}

{% block content %}
{% for note in notes %}
<div type="note-header">
  <h2><a href="{{ note.link }}">{{ note.title }}</a></h2>
  <div id="tags-in-header"></div>
</div>
{% endfor %}
{% endblock %}

{% block afterfooter %}
<script type="text/javascript" src="{{ url_for('select.js') }}"></script>
{% endblock %}
