{% extends "base.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block left %}
<section id="left" class="side">
<div id="toc">
  <div class="title">In this page</div>
  {{ note.toc }}
</div>
<div><a href="#">Download source</a></div>
</section>
{% endblock %}

{% block content %}
<article>
  <header id="article-header">
    <h2>{{ note.title }}</h2>
    <div class="tag-bar">
    {% for tag in note.tags %}
    <a href="{{ tag.link }}">{{tag.name}} </a>
    {% endfor %}
    </div>
  </header>
  {{ note.article }}
</article>
{% endblock %}
